.about_section {
  padding: 6.5rem 0;
}

.about_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 5rem 0;
  column-gap: 2rem;
  row-gap: 3rem;
}

.about_data {
  p {
    font-family: var(--font-inter);
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;

    &:last-of-type {
      margin-bottom: 0.75rem;
    }
  }
}

.skills_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  row-gap: 0.5rem;

  li {
    font-family: var(--font-inter);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.about_picture {
  display: flex;
  justify-content: center;
}

.about_image {
  height: 23rem;
  border-radius: 1rem;
  object-fit: cover;
  outline: 2px solid var(--purple);
  outline-offset: -10px;
}

// -------------- Breakpoints ----------------------------

@media (max-width: 890px) {
  .about_grid {
    grid-template-columns: 1fr;
    margin: 2rem 0 0;
  }
}

@media (max-width: 420px) {
  .about_data {
    p {
      font-size: 1rem;
    }
  }

  .skills_list {
    grid-template-columns: repeat(2, 1fr);

    li {
      font-size: 0.95rem;
    }
  }

  .about_image {
    width: 85%;
  }
}