.experience_section {
  padding: 6.5rem 0;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 3rem;
}

.line {
  background-color: var(--gray);
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
}

.timeline_item {
  display: flex;
  margin: 0 5rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 5px solid var(--bg-body-dark);
    background-color: var(--purple);
  }

  // Hijos impares
  &:nth-child(even) {
    text-align: right;

    .activities_item {
      padding-right: 2rem;

      .arrow_icon {
        right: 0;
        transform: rotate(180deg);
      }
    }
  }

  // Hijos pares
  &:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;

    .activities_item {
      padding-left: 2rem;

      .arrow_icon {
        left: 0;
      }
    }
  }

  &-content {
    width: calc(50% - 50px);
    border: 1.5px solid var(--purple);
    box-shadow: 0 0 10px 0 var(--dark-purple);
    padding: 1.5rem;
    border-radius: 0.5rem;
  }

  &-logo {
    height: 3.25rem;
    margin-bottom: 0.75rem;
  }

  &-title {
    font-family: var(--font-inter);
    color: var(--titles-color);
    font-weight: 600;
    font-size: 1.1rem;
  }

  &-date {
    margin-bottom: 1.25rem;
    font-weight: 500;
  }
}

.activities_list {
  list-style: none;
}

.activities_item {
  position: relative;
  font-size: 0.85rem;
  font-family: var(--font-inter);
  margin-bottom: 1rem;
  line-height: 1.4;

  .arrow_icon {
    color: var(--blue);
    position: absolute;
    top: 0;
    font-size: 1.15rem;
  }
}

@media (max-width: 1050px) {
  .timeline_item {
    margin: 0;
  }
}

@media (max-width: 780px) {
  .line {
    left: 0;
  }

  .timeline_item {
    &::before {
      left: 0;
    }

    &:nth-child(even) {
      text-align: left;

      .activities_item {
        padding-right: 0;
        padding-left: 2rem;

        .arrow_icon {
          left: 0;
          transform: none;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row;
    }

    &-content {
      width: 100%;
      margin-left: 2.5rem;
    }
  }
}

@media (max-width: 480px) {
  .timeline_item {
    &::before {
      width: 15px;
      height: 15px;
    }

    &-content {
      margin-left: 2rem;
    }

    &-date {
      margin-bottom: 1.5rem;
    }
  }

  .activities_item {
    padding-left: 0 !important;
    font-size: 0.95rem;

    .arrow_icon {
      display: none;
    }
  }
}