.header_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0.8rem;
  z-index: 30;
  transition: padding 0.4s ease-out;

  &.header_scrolling {
    background-color: var(--bg-body);
    border-bottom: 1px solid var(--purple);
    padding-top: 0;

    .logo_link {
      margin-top: 0.35rem;
    }

    .logo_img {
      height: 2.2rem;
      width: auto;
    }

    .nav {
      padding: 1.5rem 3.5rem;
      background: none;
    }
  }
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  margin-top: 1rem;
  transition: margin 0.4s ease-out;
}

.logo_img {
  height: 3rem;
  width: auto;
  transition: all 0.4s ease-out;
}

.nav {
  padding: 1.75rem 3.5rem;
  position: relative;
  transition: padding 0.4s ease-out;
}

.nav_list {
  display: flex;
  list-style: none;
  column-gap: 1.5rem;
}

.nav_item {
  counter-increment: item;
}

.nav_link {
  font-size: 0.85rem;
  color: var(--gray);
  padding-bottom: 0.35rem;
  position: relative;
  transition: color 0.5s ease-out;

  &::before {
    content: "0"counter(item) ".";
    color: var(--blue);
    margin-right: 0.35rem;
  }

  &.active-link {
    color: var(--white);
    font-weight: 500;
    
    &::before {
      color: var(--white);
    }
  }

  &:hover {
    color: var(--white);

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--purple);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }
}

.menu_btn {
  background: none;
  border: 0;
  outline: 0;
  color: var(--blue);
  font-size: 2.25rem;
  padding: 0.5rem;
  padding-right: 0;
  display: none;
}

.close_menu {
  background: none;
  border: 0;
  outline: 0;
  font-size: 2rem;
  color: var(--purple);
  display: none;
}


.languages {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;

  &_icon {
    color: var(--blue);
  }

  &_btn {
    background: none;
    color: var(--white);
    border: 0;
    outline: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    letter-spacing: 0.05rem;
    cursor: pointer;

    .arrow_icon {
      // height: 1.2rem;
      z-index: -1;
    }
  }

  &_list {
    list-style: none;
    background-color: var(--bg-body);
    outline: 1px solid var(--purple);
    border-radius: 0.5rem;
    color: var(--white);
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    width: 7rem;
    position: absolute;
    right: 0;
    top: 2rem;
    display: none;

    &.open {
      display: block;
    }

    li {
      padding: 0.5rem 0;
      cursor: pointer;

      img {
        height: 0.85rem;
      }
    }
  }
}

// -------------- Breakpoints ----------------------------

@media (max-width: 890px) {
  .header_section {
    .logo_link {
      margin-top: 0;
    }

    &.header_scrolling {
      padding: 0.75rem 0;

      .logo_img {
        height: 2.5rem;
        width: auto;
      }

      .nav {
        padding: 0;
      }
    }
  }

  .nav {
    padding: 1.25rem 0;
  }

  .nav_list {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem;
    padding-bottom: 6rem;
    width: min(65vw, 400px);
    height: 100vh;
    background-color: var(--bg-body);
    border-left: 1px solid rgba(136, 146, 176, 0.2);
    transform: translateX(100vw);
    transition: transform 0.4s ease-out;

    &.open_menu {
      transform: translate(0);
    }
  }

  .nav_link {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .languages {
    position: fixed;
    bottom: 3rem;
    right: 0;
    width: min(65vw, 400px);
    justify-content: center;
    font-size: 1.25rem;
    transform: translateX(100vw);
    transition: transform 0.4s ease-out;

    &.open_menu {
      transform: translate(0);
    }

    &_btn {
      font-size: 1rem;

      .arrow_icon {
        height: 1.5rem;
        width: auto;
      }
    }

    &_list {
      top: -2.85rem;
      left: -5rem;
      font-size: 1rem;
      width: 8rem;

      li {
        img {
          height: 1rem;
        }
      }
    }
  }

  .menu_btn {
    display: flex;
  }

  .close_menu {
    display: block;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    transform: translateY(-100vw);
    transition: transform 0.4s ease-out;

    &.open_menu {
      transform: translate(0);
    }
  }
}