$border: 1.9px dashed var(--edges);

.hero {
  &_section {
    padding: 9rem 0 3rem;
    position: relative;
  }

  &_data {
    padding: 3rem 3rem 2rem;
    position: relative;

    .top_left_edges {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 250px;
      z-index: -1;
      border-left: $border;
      border-top: $border;

      &::before {
        content: '';
        position: absolute;
        top: -1.9px;
        left: -25px;
        width: 25px;
        height: 10px;
        border-top: $border;
      }

      &::after {
        content: '';
        position: absolute;
        top: -25px;
        left: -1.9px;
        width: 10px;
        height: 25px;
        border-left: $border;
      }
    }

    .bottom_right_edges {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 250px;
      height: 250px;
      z-index: -1;
      border-right: $border;
      border-bottom: $border;

      &::before {
        content: '';
        position: absolute;
        bottom: -1.9px;
        right: -25px;
        width: 25px;
        height: 10px;
        border-bottom: $border;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -25px;
        right: -1.9px;
        width: 10px;
        height: 25px;
        border-right: $border;
      }
    }
  }

  &_title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--blue);
  }

  &_name {
    font-size: clamp(2.85rem, 8vw, 5rem);
    color: var(--titles-color);
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-family: var(--font-inter);
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0.65rem;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: -1;
      background: var(--purple);
    }
  }

  &_subtitle {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 2.5rem;
    font-family: var(--font-inter);
    line-height: 1.1;
  }

  &_description {
    max-width: 30rem;
    font-size: 1.05rem;
    font-family: var(--font-inter);
  }

  &_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem 0 3rem;

    .social_links {
      display: flex;
      gap: 1.25rem;

      .social_link {
        border: 1px solid var(--gray);
        color: var(--purple);
        padding: 0.65rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
        transition: all 0.4s ease-out;

        &:hover {
          border: 1px solid var(--purple);
          transform: translateY(-5px);
        }
      }
    }
  }

  &_btn {
    background-color: var(--purple);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.1rem 1.5rem;
    display: inline-block;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    overflow: hidden;
    z-index: 1;
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: var(--dark-purple);
      transition: 0.5s ease-out;
      display: block;
      z-index: -1;
    }

    &:hover {
      &::before {
        width: 110%;
      }
    }

  }
}

.scroll {
  &_down {
    display: flex;
    justify-content: center;
  }

  &_link {
    border: 1px solid var(--gray);
    border-radius: 1.5rem;
    display: flex;
    padding: 0.5rem 0.25rem;
  }

  &_icon {
    font-size: 1.65rem;
    color: var(--blue);
    animation: MoveUpDown 4s linear infinite;
  }

  @keyframes MoveUpDown {

    0%,
    100% {
      transform: translateY(15px);
    }

    50% {
      transform: translateY(5px);
    }
  }
}

// -------------- Breakpoints ----------------------------

@media (max-width: 890px) {
  .hero_data {
    padding: 3rem 2rem 2rem;
  }

  .hero_title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .hero_data {
    padding-left: 0;
    padding-right: 0;

    .top_left_edges {
      display: none;
    }

    .bottom_right_edges {
      width: 200px;
      height: 200px;

      &::before {
        width: 20px;
        right: -20px;
      }

      &::after {
        height: 20px;
        bottom: -20px;
      }
    }
  }

  .hero_name {
    &::before {
      bottom: 0.3rem;
    }
  }

  .hero_links {
    margin: 3.5rem 0 4rem;

    .social_links {
      display: none;
    }
  }

  .scroll {
    &_icon {
      font-size: 2rem;
    }
  }
}

@media (max-width: 480px) {
  .hero_description {
    font-size: 1rem;
  }
}