.hero_title {
  font-size: 5rem;
  letter-spacing: -0.25rem;
  font-weight: 500;
  // background-color: #37C5FF;
  // color: red;
  background: linear-gradient(to right, #37C5FF, #986EF6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// #814bf6 color morado 
// #6535cf color morado cuando tiene hover
// box-shadow: 0px 5px 15px rgba(128, 0, 255, 0.3);
// #938ca7 color gris
// #ffffff color blanco textos titulares
// #110e27 color morado mas oscuro
// #090909 color negro para footer
