.projects {
  &_section {
    padding: 6.5rem 0;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 380px), 1fr));
    grid-auto-rows: 25px;
    gap: 1.5rem;
    margin: 4rem 5rem 0;
  }
}

.projects_item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.4s ease-out;
  position: relative;

  // hijos impares
  &:nth-child(odd) {
    grid-row: span 7;
  }

  // hijos pares 
  &:nth-child(even) {
    grid-row: span 8;
  }

  // el segundo ultimo 
  &:nth-last-child(2) {
    grid-row: span 8;
  }

  // el ultimo hijo
  &:last-child {
    grid-row: span 7;
  }

  &:hover {
    &::before {
      display: block;
    }

    .item_info {
      transform: translate(0);
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #040d18, transparent);
    pointer-events: none;
    display: none;
  }

  .item_info {
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 300ms ease-in-out 0s, transform 400ms ease-in-out 0s;
    z-index: 10;
  }

  .item_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .item_title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.1;

    a {
      font-family: var(--font-inter);
      color: var(--white);

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }

  .item_links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .repo_link,
  .external_link {
    font-size: 1.25rem;
    color: var(--blue);
    z-index: 10;
  }

  .item_description {
    font-family: var(--font-inter);
    font-size: 0.85rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
    color: var(--titles-color);
    margin-bottom: 0.75rem;
  }

  .item_technologies {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.25rem;
  }

  .tech_name {
    list-style: none;
    font-size: 0.7rem;
    color: var(--titles-color);
    background-color: var(--edges);
    padding: 0.25rem 0.5rem;
    border-radius: 0.65rem;
  }
}

.btn_showitems {
  background-color: var(--purple);
  padding: 1.1rem 1.5rem;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  border: 0;
  outline: 0;
  margin: 4rem auto 0;
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
  cursor: pointer;
}

@media (max-width: 890px) {
  .projects_grid {
    margin: 3rem 0 0;
  }
}

@media (max-width: 560px) {
  .projects_item {

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(8) {
      background-position: top left;
    }
  }
}