@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --titles-color: #ccd6f6;
  /* --green: #64ffda; */
  --purple: #814bf6;
  --purple-hover: #6535cf;
  --blue: #00bcff;
  --gray: #8892b0;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #110E27;
  color: var(--gray);
  /* color: #008bf8;
  color: #1dd3b0; */
  /* color: var(--green); */
}

.container {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
  /* border: 1px solid white; */
}

a {
  text-decoration: none;
}