@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --bg-body: #23272d;
  --green: #33ffa9;
  --titles-color: #ccd6f6;
  --gray: #8892b0;
  --white: #ffffff;

  /* Option #2 */
  /* --bg-body: #110E27;
  --purple: #814bf6;
  --purple-hover: #6535cf;
  --blue: #00bcff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: var(--bg-body);
  color: var(--gray);
}

.container {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}
